@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.clearBoth{clear:both;}
body,table,div,ul,h1,h2,h3,h4,h5{margin:0px;padding:0px;text-align:left;color:#666666;font-size:13px;font-family:"Noto Sans KR","¸¼Àº°íµñ", Dotum,µ¸¿ò,sans-serif;}

#wrapSub{}
#wrapSub select{font-size:13px;width:120px;height:30px;line-height:30px;}
.prLocation{margin: 15px 0px;overflow: hidden;border-bottom: 1px solid #eceff1;padding-bottom: 18px;}
.prLocation .codename{float:left;}
.prLocation .search{float:right;}
.prLocation .search div{float:left;}

.categoryAndSectionPr{margin-bottom:30px;overflow:hidden;}
.categoryAndSectionPr .leftCategory{text-align:center;overflow:hidden;}
.categoryAndSectionPr .leftCategory .categoryListDiv{margin:10px auto;text-align:left;}
.categoryAndSectionPr .leftCategory .categoryListDiv{
	scrollbar-face-color: #cccccc;
	scrollbar-shadow-color: #f6f6f6;
	scrollbar-highlight-color: #f6f6f6;
	scrollbar-3dlight-color: #f6f6f6;
	scrollbar-darkshadow-color: #f6f6f6;
	scrollbar-track-color: #f6f6f6;
	scrollbar-arrow-color: #676767;
}
.categoryAndSectionPr .leftCategory .categoryListDiv .subCategory{text-align:center;}
.categoryAndSectionPr .leftCategory .categoryListDiv .subCategory span a{font-size:15px;padding:0px 10px;}

.categoryAndSectionPr .leftCategory .categoryListDiv ul{list-style: none;text-align:center;}
.categoryAndSectionPr .leftCategory .categoryListDiv li{float:left;padding:3px 14px;display:inline-block;}


.choicecodename{padding:0px 0px 35px 0px;letter-spacing: -1px;color: #333333;font-size: 37px;font-weight: bold;text-align: center;font-family:"Noto Sans KR","¸¼Àº°íµñ", Dotum,µ¸¿ò,sans-serif;}

.prListTop{overflow:hidden;}
.prListTop .prSectionCategory{text-align:center;}
.prListTop .prSectionCategory .sub_3rd{margin-bottom:20px;border:1px solid #eceff1;border-radius:5px;background:#ffffff;}
.prListTop .prSectionCategory .sub_3rd table{width:100%;margin:15px 0px;}
.prListTop .prSectionCategory .sub_3rd table td{width:15%;padding:2px 0px 2px 20px;border-right:1px solid #eeeeee;}
.prListTop .prSectionCategory .sub_3rd .lastTD{border-right:none;}
.prListTop .prSectionCategory .sub_4th{margin-bottom:10px;}
.prListTop .prSectionCategory .sub_4th ul{text-align:center;}
.prListTop .prSectionCategory .sub_4th li{display:inline-block;padding:0px 10px 10px 10px;}

.sectionPr{margin-top:30px;}

#sectionPr_Btns ul{60px 0px 0px 0px;padding:0px;overflow:hidden;}
#sectionPr_Btns li{float:left;font-size:0px;}
#sectionPr_Btns a:link{font-size:0px;}
#sectionPr_Btns a:active{font-size:0px;}
#sectionPr_Btns a:hover{font-size:0px;}
#sectionPr_Btns a:visited{font-size:0px;}

#sectionPr_Items{margin-top:-1px;padding: 15px 0px;text-align: center;background: #ffffff;border: 1px solid #eceff1;overflow:hidden;}
/* #sectionPr_Items div{margin:0px auto;} */
