/* °øÅë»çÇ× */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(../css/product.css);
*{margin:0; padding:0;}

html{height:100%;}
body,table,div,ul,h1,h2,h3,h4,h5,p,input{margin:0px;padding:0px;text-align:left;color:#7a7a7a;font-size:14px;font-family:"Montserrat","¸¼Àº°íµñ","Noto Sans KR","³ª´®°íµñ","Nanum Gothic",Dotum,µ¸¿ò,sans-serif;}
body{font-style:normal; font-weight:normal; font-variant:normal; width:100%;height:100%;}
ul,ol{list-style:none;margin:0px;padding:0px;}
select{font-family:"¸¼Àº°íµñ","Noto Sans KR","³ª´®°íµñ","Nanum Gothic",Dotum,µ¸¿ò,sans-serif;}

A:link    {color:#7a7a7a;text-decoration:none;font-family:"¸¼Àº°íµñ","Noto Sans KR","³ª´®°íµñ","Nanum Gothic",Dotum,µ¸¿ò,sans-serif;}
A:visited {color:#7a7a7a; text-decoration:none;font-family:"¸¼Àº°íµñ","Noto Sans KR","³ª´®°íµñ","Nanum Gothic",Dotum,µ¸¿ò,sans-serif;}
A:active  {color:#7a7a7a; text-decoration:none;font-family:"¸¼Àº°íµñ","Noto Sans KR","³ª´®°íµñ","Nanum Gothic",Dotum,µ¸¿ò,sans-serif;}
A:hover  {color:#7a7a7a;text-decoration:none;font-family:"¸¼Àº°íµñ","Noto Sans KR","³ª´®°íµñ","Nanum Gothic",Dotum,µ¸¿ò,sans-serif;}

select{height: 33px;border: 1px solid #dedede;color: rgb(122, 122, 122);}
.input{height: 33px;line-height: 31px;padding-left: 4px;border: 1px solid #dedede;font-size:14px;color:#7a7a7a;}
.input1{width:85px;height:33px;border:0px solid #333333;}
.input2{width:50px;height:33px;border:0px solid #333333;}
.radio{width:20px;height:20px;vertical-align:middle;}
.textarea{border: 1px solid #e9e9e9;line-height: 160%;}
.select{height:33px;border: 1px solid #dedede;margin:3px 0px;color:#4a4a4a}
.select1{height:33px;border: 0px solid #333333;color:#4a4a4a}
.checkbox{width:20px;height:20px;vertical-align:middle;margin-right:6px;}
.currentTitle .titleimage {
    float: none;
margin-top: 30px;
    padding: 0px 0px 35px 0px;
    letter-spacing: -1px;
    color: #4a4a4a;
    font-size: 33px;
    text-align: center;
font-weight: normal;
}


/* »óÇ° »ó¼¼ Á¤º¸³» »óÇ° Á¤º¸ °í½Ã °ü·Ã ³»¿ë Å×ÀÌºí */
.productInfoGosi{ line-height:200%; width:100%; margin-top:15px;border:1px solid #ededed;}
.productInfoGosi caption{ background:#f9f9f9;  font-weight:bold; padding:10px; border-top:1px solid #ededed;border-left:1px solid #ededed; border-right:1px solid #ededed; visibility:visible;}
.productInfoGosi th{ background:#f9f9f9;padding:10px 15px; text-align:left; font-weight:normal; border-bottom:1px solid #ededed; width:170px;}
.productInfoGosi td{ border-bottom:1px solid #ededed; padding:10px 15px;}

.checkPoint{border:1px solid #F00; background:#FED1C5; color:#000000; font-size:11px;}


/*ÀÔÁ¡¹®ÀÇ*/
#proposalForm{margin:0px; padding:0px; border:0px;}
.proposal_wrap{margin:0px; margin-top:10px;text-align:left;}
.proposal_wrap .proposal_header{position:relative;}
.proposal_wrap .proposal_header p{position:relative;margin:0px;padding:0px;}
.proposal_wrap table{margin:0px; padding:0px;}


/*È¸¿ø*/
.loginWrap .join {margin-top: 40px;}
.loginWrap .join p {text-align: left;margin: 0;}
.loginWrap .join .button {text-align: center;border: 1px solid #9e9e9e;width: 150px;line-height: 3em;cursor: pointer;height:30px;}
.loginWrap .join .button a {display: block;text-decoration: none;    line-height: 25px;}
.loginWrap .join>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 20px;
}
.loginWrap .login_button a {
    display: block;
    padding: 30px;
    background: #3a3a3a;
    margin-top: 30px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
    text-decoration: none;
}
.memLoginBox {padding:35px 0px; text-align:center; }
	.memLoginBox table {margin:0 auto;}
	.memLoginBox table thead th {text-align:left; padding-bottom:15px;}
	.memLoginBox table tbody th {width:60px; font-weight:normal; line-height:30px; text-align:center;}
/*	.memLoginBox table tbody input {border:1px solid #dddddd; width:250px; height:32px; line-height:32px; padding-left:10px; color:#222222; font-size:17px; font-weight:bold;}*/
	.memLoginBox table tbody a:link {display:block; width:90px; height:66px; line-height:66px; text-align:center; color:#ffffff; font-size:14px; font-weight:bold; background:#222222;}
	.memLoginBox table tbody a:active {display:block; width:90px; height:66px; line-height:66px; text-align:center; color:#ffffff; font-size:14px; font-weight:bold; background:#222222;}
	.memLoginBox table tbody a:hover {display:block; width:90px; height:66px; line-height:66px; text-align:center; color:#ffffff; font-size:14px; font-weight:bold; background:#222222;}
	.memLoginBox table tbody a:visited {display:block; width:90px; height:66px; line-height:66px; text-align:center; color:#ffffff; font-size:14px; font-weight:bold; background:#222222;}

	.nomemOrderSearch {padding:35px 0px; text-align:center; border-bottom:1px solid #eeeeee;}
	.nomemOrderSearch table {margin:0 auto;}
	.nomemOrderSearch table thead th {text-align:left; padding-bottom:15px;}
	.nomemOrderSearch table tbody th {width:60px; font-weight:normal; line-height:30px; text-align:center;}
	.nomemOrderSearch table tbody input {border:1px solid #dddddd; width:250px; height:32px; line-height:32px; padding-left:10px; color:#222222; font-size:17px; font-weight:bold;}
	.nomemOrderSearch table tbody a:link {display:block; width:90px; height:66px; line-height:66px; text-align:center; color:#ffffff; font-size:14px; font-weight:bold; background:#888888;}
	.nomemOrderSearch table tbody a:active {display:block; width:90px; height:66px; line-height:66px; text-align:center; color:#ffffff; font-size:14px; font-weight:bold; background:#888888;}
	.nomemOrderSearch table tbody a:hover {display:block; width:90px; height:66px; line-height:66px; text-align:center; color:#ffffff; font-size:14px; font-weight:bold; background:#888888;}
	.nomemOrderSearch table tbody a:visited {display:block; width:90px; height:66px; line-height:66px; text-align:center; color:#ffffff; font-size:14px; font-weight:bold; background:#888888;}

	.memJoin {padding:35px 0px; text-align:center; border:1px solid #eeeeee; border-top:hidden;}

/* Ä«Å×°í¸® ºä */
.categoryList {clear:both; position:relative; float:left; z-index:100;}
.categoryListTd {padding:0px 10px;}
.categoryListTd A:link {padding:4px; COLOR: #666666; TEXT-DECORATION: none;}
.categoryListTd A:visited {padding:4px; COLOR: #666666; TEXT-DECORATION: none;}
.categoryListTd A:hover {padding:4px; COLOR: #666666; background-color:#f5f5f5; TEXT-DECORATION: none;}
.categoryListTd A:active {padding:4px; COLOR: #666666; TEXT-DECORATION: none;}

.categoryAll {display:none; position:absolute; width:160px; left:120px; top:-29px; padding:10px; background:#ffffff; border:1px solid #dddddd; z-index:200;}
.categoryAll A:link {padding:2px 5px; COLOR: #666666; TEXT-DECORATION: none;}
.categoryAll A:visited {padding:2px 5px; COLOR: #666666; TEXT-DECORATION: none;}
.categoryAll A:active {padding:2px 5px; COLOR: #666666; TEXT-DECORATION: none;}
.categoryAll A:hover {padding:2px 5px; COLOR: #666666; background-color:#f5f5f5; TEXT-DECORATION: none;}


.starmark{ width:15px; height:15px; background:url(/upload/img/icon/starmarkbg1.gif) no-repeat;font-size:0px; display:inline-block;overflow:hidden; margin-right:1px;}
.starmark.active{ background-position:-16px 0px;}


/*°Ô½ÃÆÇ»ç¿ë¹öÆ°*/
.btn_default{padding:6px 10px;width:63px;height:30px;cursor:pointer;text-align:center;font-size:13px;border:none;box-sizing:border-box;background:#4f4f4f;color:#fff;line-height:16px;border-radius:2px;}
.btn_default:hover{border:1px solid #4f4f4f;box-sizing:border-box;background:#ffffff;color:#4f4f4f;}
.btn_line{padding:6px 10px;text-align:center;font-size:13px;box-sizing:border-box;background: #ffffff;border: rgba(0, 0, 0, 0.1) 1px solid;color: #4f4f4f;border-radius:2px;}
.btn_line:hover{border:1px solid #4f4f4f;box-sizing:border-box;background:#4f4f4f;color:#fff;}
.btn_sline{padding:2px 9px;text-align:center;font-size:12px;line-height:12px;box-sizing:border-box;background: #ffffff;border: rgba(0, 0, 0, 0.1) 1px solid;color: #4f4f4f;border-radius:2px;}
.btn_sline:hover{border:1px solid #4f4f4f;box-sizing:border-box;background:#4f4f4f;color:#fff;}
.btn_sline2{padding:2px 9px;text-align:center;font-size:13px;line-height:12px;box-sizing:border-box;background: #ffffff;border: rgba(0, 0, 0, 0.1) 1px solid;color: #4f4f4f;border-radius:2px;}
.btn_sline2:hover{border:rgba(0, 0, 0, 0.2) 1px solid;box-sizing:border-box;background:#f9f9f9;color: #4f4f4f;}
.btn_sline3{padding:3px;text-align:center;font-size:11px;line-height:12px;box-sizing:border-box;background: #ffffff;border: rgba(0, 0, 0, 0.1) 1px solid;color: #4f4f4f;border-radius:2px;}
.btn_sline3:hover{border:rgba(0, 0, 0, 0.2) 1px solid;box-sizing:border-box;background:#f1f1f1;color: #4f4f4f;}
.btn_sline1{border-radius:2px;padding:5px 9px;text-align:center;font-size:12px;line-height:12px;box-sizing:border-box;background: #ffffff;border: rgba(0, 0, 0, 0.1) 1px solid;color: #4f4f4f;border-radius:2px;}
.btn_sline1:hover{border:1px solid #4f4f4f;box-sizing:border-box;}
.btn_lineB{padding:15px 40px;width:110px;height:50px;text-align:center;font-size:17px;box-sizing:border-box;line-height:20px;background: rgba(255, 255, 255, 0.9);border: rgba(0, 0, 0, 0.1) 1px solid;color: #4f4f4f;border-radius:2px;}
.btn_lineB:hover{border:1px solid rgba(0, 0, 0, 0.05);box-sizing:border-box;background: rgba(0, 0, 0, 0.05);color:#7a7a7a;}

.btn_gray{padding:8px 10px;width:70px;height:37px;text-align:center;font-size:13px;box-sizing:border-box;line-height:14px;background: rgba(0, 0, 0, 0.7);border: rgba(0, 0, 0, 0.1) 1px solid;color: #ffffff;border-radius:2px;}
.btn_gray:hover{border:1px solid #4f4f4f;box-sizing:border-box;background: rgba(0, 0, 0, 0.9);color:#ffffff;border: rgba(0, 0, 0, 0.9) 1px solid;}
.btn_gray span{color:#ffffff;}
.btn_gray1{padding:8px 10px;width:70px;text-align:center;font-size:13px;box-sizing:border-box;background: rgba(0, 0, 0, 0.7);border: rgba(0, 0, 0, 0.1) 1px solid;color: #ffffff;border-radius:2px;}
.btn_gray1:hover{border:1px solid #4f4f4f;box-sizing:border-box;background: rgba(0, 0, 0, 0.9);color:#ffffff;border: rgba(0, 0, 0, 0.9) 1px solid;}
.btn_grayB{padding:15px 40px;width:110px;height:50px;text-align:center;font-size:17px;box-sizing:border-box;line-height:20px;background: rgba(0, 0, 0, 0.7);border: rgba(0, 0, 0, 0.1) 1px solid;color: #ffffff;border-radius:4px;}
.btn_grayB:hover{border:1px solid #4f4f4f;box-sizing:border-box;background: rgba(0, 0, 0, 0.9);color:#ffffff;border: rgba(0, 0, 0, 0.9) 1px solid;}
.btn_grayB span{color:#ffffff;}


.list_text{font-size:12px;color: rgba(79,79,79,0.5);}

.tblWrite {width:100%;border:1px solid #ededed;padding:10px}
.tblWrite td{padding:6px 0px;}


/*»óÇ°»ó¼¼*/
.venderInfoTable{width:100%;}
.venderInfoTable th{text-align:left;padding:5px 10px;}
.venderInfoTable td{padding:5px 10px;}

.prDetailTab .prDetailTabOff2{width: 10%;border-top: 0px;border-left: 0px;border-right: 0px;text-align: center;background: none;font-size: 0px;border-bottom: 1px solid #ededed;}
.prDetailTab .prDetailTabOff2 a:link{font-size:17px;}
.prDetailTab .prDetailTabOff{border-bottom: 1px solid #ededed;}
.productDetailWrap{margin:30px 0px;}
.detailImg a img{max-width:800px;}
#mcontDiv_1,#mcontDiv_2,#mcontDiv_3,#mcontDiv_4,#mcontDiv_5,#mcontDiv_6,#mcontDiv_7,#mcontDiv_8,#mcontDiv_9,#mcontDiv_10,#mcontDiv_11,#mcontDiv_12,#mcontDiv_13,#mcontDiv_14,#mcontDiv_15,#mcontDiv_16,#mcontDiv_17,#mcontDiv_18,#mcontDiv_19,#mcontDiv_20{max-width:800px;height:auto;}
#mcontDiv_1,#mcontDiv_2,#mcontDiv_3,#mcontDiv_4,#mcontDiv_5,#mcontDiv_6,#mcontDiv_7,#mcontDiv_8,#mcontDiv_9,#mcontDiv_10,#mcontDiv_11,#mcontDiv_12,#mcontDiv_13,#mcontDiv_14,#mcontDiv_15,#mcontDiv_16,#mcontDiv_17,#mcontDiv_18,#mcontDiv_19,#mcontDiv_20 img{width:100%;}

.prprice{color: #333333; font-size: 15px;font-weight: normal;}


.prDetailTab .prDetailTabOn {width: 10%;border-bottom: 3px solid #eb2f36;border-top:0px;border-left:0px;border-right:0px;}
.prDetailTab .prDetailTabOn a{text-align: center;font-weight: 700;color:#eb2f36;}
.prDetailTab .prDetailTabOn a:link{font-size:17px;}


.reviewPoint {width:100%;  border-bottom:1px solid #rededed;}
.reviewPoint th {width:40%;font-weight:normal;}

.reviewPoint td {width:12%; padding:10px 0px; text-align:center;}
.reviewPoint td h4 {text-align:center;font-weight:normal;font-size:12px;}
.reviewPoint td span {font-size:20px;font-weight:bold;}
.reviewPoint td div {text-align:center;}

.tabOn {border:1px solid #333333;background:#333333;color:#ffffff;}
.tabOn a:link{color:#ffffff;}
.tabOn a:visited {display: block;color:#ffffff;text-decoration: none;}

.tabOff {border:1px solid #ededed;background:#ffffff;color:#7a7a7a;}
.tabOff a:link {display: block;color: #7a7a7a;text-decoration: none;}
.tabOff a:visited {display: block;color: #7a7a7a;text-decoration: none;}

/*»ó¼¼ ´Þ·Â ¾ÆÀÌÄÜ*/
.ui-datepicker-title{ color:white}
.ui-datepicker-trigger{float:left;padding:7px;}


/*¸ÖÆ¼ÀÌ¹ÌÁö*/
.multiThumb{width:50px; height:50px; display:inline-block;border:1px solid #efefef; text-align:center; vertical-align:middle; overflow:hidden; cursor:pointer}
.multiThumb img{height:49px;}
.multiThumb.active{border:1px solid #f00;}

#priceCalcPrint table{width:100%;}



/* ¸ðµç ÆË¾÷ Ã¢ °ø·Ž */
.popwin .btns{margin-top: 30px; text-align: center}
.popwin .btns input{width: 60px; height: 30px; line-height: 30px; font-size: 14px; font-weight: bold; letter-spacing: -0.05em}
.popwin .btn_save{margin-right: 5px; color: #fff; background-color: #70a45d}
.popwin .btn_reset1{color: #888; border: 1px solid #cacaca}
.searchPw{width: 400px; height: auto; background-color: #fff;border-radius:5px;padding:30px;}
.innerSPW{position: relative; padding: 30px 33px 42px 33px}
.spw_wrap p.tit{margin:5px 0px 20px 0px; font-size: 25px;color:#333333; font-weight: normal; text-align: center;}
.spw_wrap p.desc{margin-bottom: 10px; text-align:center;border-bottom:1px solid #ededed;padding-bottom:15px;}
.spw_wrap legend{display:none;}
.spw_wrap fieldset{border:0px;padding:10px 0px;}
.spw_wrap #wishResult li{padding:5px 0px;}


.prinfoTable .optionTable{width:413px;text-align:right;margin:20px 0px;}
.prinfoTable .optionTable th{background:#f9f9f9;text-align:center;font-size:13px;border-bottom:1px solid #f2f2f2;border-top:1px solid #f2f2f2;font-weight:normal;}
.prinfoTable .optionTable td{border-bottom:1px solid #ededed;padding: 5px;font-size:13px;}
.prinfoTable .optionTable td table td{border-bottom:0px solid #ededed;}


/*Å×ÀÌºí*/
.basicTable_line {margin:20px 0px;border-bottom:1px solid #ededed;}
.basicTable_line td{border-top:1px solid #ededed;padding:10px 0px;}

.basicTable_line1{margin:20px 0px;border:1px solid #ededed;padding:30px;}
.basicTable_line1 td{padding:10px 0px;border-bottom:1px solid #ededed;}

.basicTable_line2 td{padding:13px 0px;border-bottom:1px solid #ededed;}

.btn_m_line3{    /* display: block; */
	border: 1px solid #dddddd;
	padding: 6px;
	text-decoration: none;
	line-height: 20px;
	font-size: 12px;
	border-radius: 2px;
	text-align: center;
	/* width: 100px; */}


.btn_s_line{display:inline-block;margin-top:4px;padding:6px;background:#ffffff;border:1px solid #dddddd;border-radius:1px;text-decoration:none}
.btn_s_line2{display:inline-block;padding: 6px;background: #ffffff;border: 1px solid #dddddd;border-radius: 1px;text-decoration: none;font-size: 12px;margin: 0px 1px 0px 0px;}
.btn_s_line2:hover{background: #888888;border: 1px solid #888888;color:#ffffff;}
.btn_s_line3{display:inline-block;padding: 6px;background: #dc0103;border: 1px solid #dc0103;border-radius: 1px;text-decoration: none;font-size: 12px;margin: 0px 1px 0px 0px;color:#ffffff;}