/*±âº»½ºÅ¸ÀÏ*/
body {margin:0 0 0 0; overflow:auto;}
.body {margin:0 0 0 0;overflow:auto;}
img {border:none}
td	{font-family:"µ¸¿ò,±¼¸²";color:#4B4B4B;font-size:12px;line-height:17px;}


/* bg */
.bg {
background-image:url('./images/total_bg.gif');background-repeat:repeat-x ;
}


body {
	scrollbar-face-color: #dddddd;
	scrollbar-shadow-color: #aaaaaa;
	scrollbar-highlight-color: #ffffff;
	scrollbar-3dlight-color: #dadada;
	scrollbar-darkshadow-color: #dadada;
	scrollbar-track-color: #eeeeee;
	scrollbar-arrow-color: #ffffff;
	overflow-x:auto;overflow-y:scroll
}


A:link    {color:#635C5A;text-decoration:none;}
A:visited {color:#545454;text-decoration:none;}
A:hover  {color:#545454;text-decoration:underline;}


.reqFld{ background:url(images/icon_point2.gif) 10px 50% no-repeat; color:#FF4C00; padding-left: 17px; font-weight:bold}
.tbltopline{ border-top:1px solid #e3e3e3}
.inputTbl{ border-top:1px solid #e3e3e3; width:100%}
.inputTbl caption{ text-align:left; padding-left:10px; padding-bottom:5px;}
.inputTbl tbody th{  padding:5px; letter-spacing:-0.5pt; line-height:18px; text-align:left; font-size:12px; color:4b4b4b; border-bottom:1px solid #e3e3e3; width:120px; background:#f8f8f8 url(images/icon_point5.gif) 10px 50% no-repeat; padding-left:17px;}.inputTbl tbody td{ padding:5px; color:#949494; font-size:12px; line-height:19px; border-left:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3;}
.inputTbl tbody th.reqFld{ background:#f8f8f8 url(images/icon_point2.gif) 10px 50% no-repeat; color:#FF4C00; padding-left: 17px; font-weight:bold}


/*main»ç¿ëcss##################################################################################################


/*¿ÞÂÊ¸Þ´º*/
.depth1_select { color:#ffffff; font-family:"µ¸¿ò", "±¼¸²"; font-size:12px; letter-spacing:-0.5pt; font-weight:bold; }
.depth1_select a:link { color:#ffffff; font-family:"µ¸¿ò", "±¼¸²"; font-size:12px; letter-spacing:-0.5pt; font-weight:bold; }
.depth1_select a:hover { color:#ffffff; font-family:"µ¸¿ò", "±¼¸²"; font-size:12px; letter-spacing:-0.5pt; font-weight:bold; }
.depth1_select a:visited { color:#ffffff; font-family:"µ¸¿ò", "±¼¸²"; font-size:12px; letter-spacing:-0.5pt; font-weight:bold; }
.depth1_noselect { color:#ffffff; font-family:"µ¸¿ò", "±¼¸²"; font-size:12px; letter-spacing:-0.5pt; font-weight:bold; }
.depth1_noselect a:link { color:#ffffff; font-family:"µ¸¿ò", "±¼¸²"; font-size:12px; letter-spacing:-0.5pt; font-weight:bold; }
.depth1_noselect a:hover { color:#ffffff; font-family:"µ¸¿ò", "±¼¸²"; font-size:12px; letter-spacing:-0.5pt; font-weight:bold; }
.depth1_noselect a:visited { color:#ffffff; font-family:"µ¸¿ò", "±¼¸²"; font-size:12px; letter-spacing:-0.5pt; font-weight:bold }
.depth2_default { color:#bbbbbd; font-family:"µ¸¿ò", "±¼¸²"; font-size:11px; letter-spacing:-0.5pt; }
.depth2_default a:link { color:#bbbbbd; font-family:"µ¸¿ò", "±¼¸²"; font-size:11px; letter-spacing:-0.5pt; }
.depth2_default a:visited { color:#bbbbbd; font-family:"µ¸¿ò", "±¼¸²"; font-size:11px; letter-spacing:-0.5pt; }
.depth2_default a:hover { color:#bbbbbd; font-family:"µ¸¿ò", "±¼¸²"; font-size:11px; letter-spacing:-0.5pt; }
.depth2_select { color:#FE8E4B; font-family:"µ¸¿ò", "±¼¸²"; font-size:11px; letter-spacing:-0.5pt; font-weight:bold; }
.depth2_select a:link { color:#FE8E4B; font-family:"µ¸¿ò", "±¼¸²"; font-size:11px; letter-spacing:-0.5pt; font-weight:bold; }
.depth2_select a:visited { color:#FE8E4B; font-family:"µ¸¿ò", "±¼¸²"; font-size:11px; letter-spacing:-0.5pt; font-weight:bold; }
.depth2_select a:hover { color:#FE8E4B; font-family:"µ¸¿ò", "±¼¸²"; font-size:11px; letter-spacing:-0.5pt; font-weight:bold; }


/* Ä«ÇÇ¶óÀÌÅÍ */
.copyright{color:#999999;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:-0.5pt;}

/* ÇöÀçÀ§Ä¡ */
.link{color:#6C6C6C;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:-0.5pt;}
.link a:link{color:#6C6C6C;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:-0.5pt;font-weight:bold;}
.link a:hover{color:#6C6C6C;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:-0.5pt;font-weight:bold;}
.link a:visited{color:#6C6C6C;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:-0.5pt;font-weight:bold;}

/* Á¦¸ñÇÏ´Ütext */
.title_bottomtext{color:#7C7C7C;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:-0.5pt}

/* º»¹®¾È³»¸àÆ® */
.notice_blue{color:#929495;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt}
.notice_blue a:link{color:#929495;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;border-bottom-color:#FD4100; border-bottom-style:dotted;border-bottom-width:1;}
.notice_blue a:hover{color:#929495;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt}
.notice_blue a:visited{color:#929495;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt}

.notice_blue1{color:#FF7E00;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:-0.5pt}
.notice_blue1 a:link{color:#FF7E00;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:-0.5pt;border-bottom-color:#FD4100; border-bottom-style:dotted;border-bottom-width:1;}
.notice_blue1 a:hover{color:#FF7E00;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:-0.5pt}
.notice_blue1 a:visited{color:#FF7E00;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:-0.5pt}
/*.notice_blue{background-color:#EEF8FF;color:#00A0D5;font-family:"µ¸¿ò,±¼¸²";font-size:12px;letter-spacing:-0.5pt}*/
.notice_orange{color:#FF3300;font-family:"µ¸¿ò,±¼¸²";font-size:12px;letter-spacing:-0.5pt}
.notice_orange1{color:#FF3300;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:-0.5pt}

/* °Ô½ÃÆÇ */
.board_cell1{color:#000000;font-family:"µ¸¿ò,±¼¸²";background-color:#F8F8F8;padding:5pt;line-height:18px;letter-spacing:-0.5pt;BORDER-LEFT:#E3E3E3 0pt solid;  font-weight:bold;}
.board_con1{padding-left:3pt;padding-top:3pt; padding-bottom:3pt; padding-right:2pt;font-family:"±¼¸²,±¼¸²";line-height:18px;BORDER-LEFT:#E3E3E3 0pt solid;}
.board_con1s{font-size:11px;padding-left:3pt;padding-top:3pt; padding-bottom:3pt; padding-right:2pt;font-family:"µ¸¿ò";line-height:18px;BORDER-LEFT:#E3E3E3 0pt solid;}

/* ÀÎÇ²¹Ú½º################################################################################################## */
.input{font-size:12px;BORDER: #DCDCDC 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff;padding-top:2pt; padding-bottom:1pt; height:19px}
.input_disabled{font-size:12px;BORDER-RIGHT: #DCDCDC 1px solid; BORDER-TOP: #C7C1C1 1px solid; BORDER-LEFT: #C7C1C1 1px solid; BORDER-BOTTOM: #DCDCDC 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #F0F0F0;padding-top:2pt; padding-bottom:1pt; height:19px}
.input_hide{color:ffffff;font-size:12px;BORDER:0px;BACKGROUND-COLOR: #959595;font-weight:bold;}
.input_hide1{font-size:12px;BORDER:0px;BACKGROUND-COLOR: #ffffff;}
.inputss{border-width:1pt; border-color:#BDBDBD; border-style:solid;color:#444444;font-size:12px;padding-left:2pt;padding-right:2pt;padding-top:3pt; padding-bottom:1pt; height:19px}
.input01{font-size:11px;border-top:1px solid #999999;border-left:1px solid #999999;border-bottom:1px solid #D7D7D7;border-right:1px solid #D7D7D7;}
.input_selected{font-weight:bold; font-size:12px; color:rgb(87,51,28); background-color:rgb(255,181,136); padding-top:3pt; padding-right:2pt; padding-bottom:1pt; padding-left:2pt; border-width:1pt; border-color:rgb(255,157,99); border-style:solid; height:20px;}
.input_selected1{font-weight:bold; font-size:12px; color:rgb(0,86,199); padding-top:3pt; padding-right:2pt; padding-bottom:1pt; padding-left:2pt; border-width:1pt; border-color:#FF5A00; border-style:solid; height:20px;}
.input_selected2{font-weight:bold; font-size:12px; color:#FF5A00; background-color:#FFFAF0; padding-top:3pt; padding-right:2pt; padding-bottom:1pt; padding-left:2pt; border-width:1pt; border-color:#FF7E00; border-style:solid; height:20px;}
.select{color:#444444;font-size:12px;}
.select1{color:#444444;font-size:12px;scrollbar-face-color: #dddddd;scrollbar-shadow-color: #aaaaaa;scrollbar-highlight-color: #ffffff;scrollbar-3dlight-color: #dadada;scrollbar-darkshadow-color: #dadada;scrollbar-track-color: #eeeeee;scrollbar-arrow-color: #ffffff;overflow-x:auto;overflow-y:scroll}
.select_selected{font-weight:bold; font-size:12px; color:rgb(0,86,199); background-color:rgb(187,227,255); padding-top:3pt; padding-right:2pt; padding-bottom:1pt; padding-left:2pt; border-width:1pt; border-color:rgb(0,102,255); border-style:solid; height:20px;}
.left_menu_select{color:#000000;font-family:"µ¸¿ò,±¼¸²";font-size:12px;letter-spacing:-0.5pt;font-weight:bold;}

.textarea{padding-left:4pt;background-image:url('./images/text_baseline.gif');line-height:17px;border:solid 1;border-color:#BDBDBD;font-family:µ¸À½;font-size:9pt;color:333333;background-color:transparent}
.textarea_hide{padding-left:12pt;padding-right:12pt;overflow: hidden; font-family:±¼¸²; height: 84px; width:200px;color: #191919; FONT-SIZE: 9pt; font-style: normal; background-image:url('./images/sms_bg.gif'); border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.textarea1{padding-left:4pt;background-image:url('./images/text_baseline.gif');line-height:17px;border:solid 1;border-color:#BDBDBD;font-family:µ¸À½;font-size:9pt;color:333333;background-color:transparent}
.submit{border:none ;font-family:µ¸À½;font-size:9pt;color:white; height:16px}
.submit1{border-style:solid;border-color:#B1B1B1;font-family:µ¸À½;font-size:9pt;color:#000000;height:20px;}
.radio{BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none;}


/* Å×ÀÌºí Á¤ÀÇ################################################################################################## */
.table_cell{font-family:"µ¸¿ò,±¼¸²";background-color:#F8F8F8;padding:5pt;padding-left:10pt;line-height:18px;letter-spacing:-0.5pt; font-weight:bold;}
.table_cell1{font-family:"µ¸¿ò,±¼¸²";background-color:#F8F8F8;padding:5pt;line-height:18px;letter-spacing:-0.5pt;BORDER-LEFT:#E3E3E3 1pt solid;  font-weight:bold;}
.table_cell2{font-family:"µ¸¿ò,±¼¸²";background-color:#F8F8F8;padding:5pt;padding-left:10pt;line-height:18px;letter-spacing:-0.5pt;BORDER-left:#E3E3E3 1pt solid;  font-weight:bold;}
.table_cell3{font-family:"µ¸¿ò,±¼¸²";background-color:#F8F8F8;padding-left:2pt;line-height:18px;letter-spacing:-0.5pt;}
.table_cell4{font-family:"µ¸¿ò,±¼¸²";background-color:#F8F8F8;padding:4.5pt;line-height:18px;letter-spacing:-0.5pt; font-weight:bold;}
.table_cell5{font-family:"µ¸¿ò,±¼¸²";background-color:#F8F8F8;line-height:18px;letter-spacing:-0.5pt; font-weight:bold;}
.table_cell6{font-family:"µ¸¿ò,±¼¸²";background-color:#F8F8F8;line-height:18px;letter-spacing:-0.5pt;BORDER-LEFT:#E3E3E3 1pt solid;  font-weight:bold;}
.table_cell_orange{color:#FF4C00;font-family:"µ¸¿ò,±¼¸²";background-color:#FFF1C2;padding:5pt;padding-left:10pt;line-height:18px;letter-spacing:-0.5pt;font-weight:bold;}
.table_cell_blue{color:#ffffff;font-family:"µ¸¿ò,±¼¸²";background-color:#CAF4FF;padding:5pt;padding-left:10pt;line-height:18px;letter-spacing:-0.5pt;font-weight:bold;}
/*tdÁ¤ÀÇ*/
.td_con1{padding-left:3pt;padding-top:3pt; padding-bottom:3pt; padding-right:2pt;color:#949494;font-family:"µ¸¿ò";font-size:12px;line-height:19px;BORDER-LEFT:#E3E3E3 1pt solid;}
.td_con1b{padding-top:2pt; padding-bottom:2pt; color:#949494;font-family:"µ¸¿ò";font-size:12px;line-height:19px;}
.td_con1a{padding-left:2pt;padding-top:2pt; padding-bottom:2pt;font-family:"±¼¸²,±¼¸²";line-height:18px;BORDER-LEFT:#E3E3E3 1pt solid;}
.td_con2{padding-left:3pt;padding-top:3pt; padding-bottom:3pt;font-family:"±¼¸²,±¼¸²";line-height:18px;}
.td_con2a{padding-left:2pt;padding-top:2pt; padding-bottom:2pt;font-family:"±¼¸²,±¼¸²";line-height:18px;}
.td_con3{padding-left:3pt;padding-top:3pt; padding-bottom:3pt;font-family:"±¼¸²,±¼¸²";line-height:18px;;BORDER-LEFT:#E3E3E3 1pt solid;;BORDER-right:#E3E3E3 1pt solid;}
.td_con5{font-family:"±¼¸²,±¼¸²";line-height:18px;}
.td_con6{font-family:"±¼¸²,±¼¸²";line-height:18px;BORDER-LEFT:#E3E3E3 1pt solid;}
.td_con_orange{background-color:FFFAED;padding-left:4pt;padding-top:3pt; padding-bottom:3pt;font-family:"±¼¸²,±¼¸²";line-height:18px;BORDER-LEFT:#E3E3E3 1pt solid;}
.td_con_orange1{padding:5pt;background-color:FFFAED;padding-left:4pt;padding-top:3pt; padding-bottom:3pt;font-family:"±¼¸²,±¼¸²";line-height:18px;}
.td_con_blue{background-color:E4F8FF;padding-left:4pt;padding-top:3pt; padding-bottom:3pt;font-family:"±¼¸²,±¼¸²";line-height:18px;BORDER-LEFT:#E3E3E3 1pt solid;}
.td_con_blue1{padding:5pt;background-color:E4F8FF;padding-left:4pt;padding-top:3pt; padding-bottom:3pt;font-family:"±¼¸²,±¼¸²";line-height:18px;}
.td_con_red{background-color:FFEFFD;padding-left:4pt;padding-top:3pt; padding-bottom:3pt;font-family:"±¼¸²,±¼¸²";line-height:18px;BORDER-LEFT:#E3E3E3 1pt solid;}
.td_con_red1{padding:5pt;background-color:FFEFFD;padding-left:4pt;padding-top:3pt; padding-bottom:3pt;font-family:"±¼¸²,±¼¸²";line-height:18px;}
.menual_bg{padding:5pt;background-color:FAFAFA;font-family:"±¼¸²,±¼¸²";line-height:18px;}
.menual_con{color:#949494;font-family:"µ¸¿ò";font-size:11px;letter-spacing:0pt;line-height:19px}
.menual_con_orange{color:#FF6600;font-family:"µ¸¿ò";font-size:11px;letter-spacing:0pt;line-height:19px}

.tableBase{border-top:1px solid #b9b9b9;font-size:12px;}
.tableBase th{padding:8px 0px;border-bottom:1px solid #ededed;border-left:1px solid #ededed;background:#f8f8f8; background-image:none}
.tableBase .firstTh{border-left:none;background:#f8f8f8;}
.tableBase td{padding:8px 0px;border-bottom:1px solid #ededed;border-left:1px solid #ededed;}
.tableBase .firstTd{padding-left:10px;border-left:none;}

.tableBase tbody th{padding:8px 0px;border-bottom:1px solid #ededed;border-left:1px solid #ededed;background:#f8f8f8; background-image:none}
.tableBase tbody .firstTh{border-left:none;background:#f8f8f8;}
.tableBase tbody td{padding:8px 0px;border-bottom:1px solid #ededed;border-left:1px solid #ededed;}
.tableBase tbody .firstTd{padding-left:10px;border-left:none;}



.tableBaseSe{font-size:12px;}
.tableBaseSe caption{padding:8px;background:#ededed;border-bottom:1px solid #d9d9d9;}
.tableBaseSe th{padding:8px 0px;border-right:1px solid #ededed;border-bottom:1px solid #ededed;background:#f5f5f5;text-align:center;}
.tableBaseSe .lastTh{border-right:none;}
.tableBaseSe td{padding:8px 0px;border-right:1px solid #ededed;border-bottom:1px solid #ededed;text-align:center;}
.tableBaseSe .lastTd{border-right:none;}

.tableBaseTh{font-size:12px;border-top:1px solid #d9d9d9;}
.tableBaseTh caption{display:none;}
.tableBaseTh th{padding:5px 12px;background:#f8f8f8;border-right:1px solid #ededed;border-bottom:1px solid #ededed;text-align:left;}
.tableBaseTh .lastTh{border-bottom:none;}
.tableBaseTh td{padding:5px 8px;border-bottom:1px solid #ededed;}
.tableBaseTh .lastTd{border-bottom:none;}

.tableBaseNoBorder th{border:0px;padding:1px 0px;}
.tableBaseNoBorder td{border:0px;padding:1px 0px;}


/*ÆùÆ®»ö»ó*/
.white_font{color:#fdfdfd;font-size:11px; letter-spacing:-2px; font-family:µ¸¿ò;}
.font_gray00{color:#818289;font-family:"Verdana";font-size:10px;letter-spacing:0pt;line-height:19px}
.font_gray00 a:link{color:#818289;font-family:"Verdana";font-size:10px;letter-spacing:0pt;line-height:19px}
.font_gray00 a:hover{color:#818289;font-family:"Verdana";font-size:10px;letter-spacing:0pt;line-height:19px}
.font_gray0 a:visited{color:#818289;font-family:"Verdana";font-size:10px;letter-spacing:0pt;line-height:19px}
.font_gray0{color:#D2D2D2;font-family:"Verdana";font-size:10px;letter-spacing:0pt;line-height:19px}
.font_gray0 a:link{color:#D2D2D2;font-family:"Verdana";font-size:10px;letter-spacing:0pt;line-height:19px}
.font_gray0 a:hover{color:#D2D2D2;font-family:"Verdana";font-size:10px;letter-spacing:0pt;line-height:19px}
.font_gray0 a:visited{color:#D2D2D2;font-family:"Verdana";font-size:10px;letter-spacing:0pt;line-height:19px}
.font_gray1{color:#D2D2D2;font-family:"µ¸¿ò";font-size:12px;letter-spacing:-0.5pt;line-height:19px}
.font_gray{color:#D2D2D2;font-family:"µ¸¿ò";font-size:12px;letter-spacing:-0.5pt;line-height:19px}
.font_gray a:link{color:#D2D2D2;font-family:"µ¸¿ò";font-size:12px;letter-spacing:-0.5pt;line-height:19px}
.font_gray a:hover{color:#D2D2D2;font-family:"µ¸¿ò";font-size:12px;letter-spacing:-0.5pt;line-height:19px}
.font_gray a:visited{color:#D2D2D2;font-family:"µ¸¿ò";font-size:12px;letter-spacing:-0.5pt;line-height:19px}
.font_gray2{color:#666666;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;line-height:19px}
.font_gray3{color:#7E7E7E;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-1pt;line-height:19px}
.font_gray3 a:link{color:#7E7E7E;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;line-height:19px}
.font_gray3 a:hover{color:#7E7E7E;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;line-height:19px}
.font_gray3 a:visited{color:#7E7E7E;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;line-height:19px}
.font_gray3a{color:#7E7E7E;font-family:"µ¸¿ò";font-size:11px;letter-spacing:0pt;line-height:19px}
.font_gray3a a:link{color:#7E7E7E;font-family:"µ¸¿ò";font-size:11px;letter-spacing:0pt;line-height:19px}
.font_gray3a a:hover{color:#7E7E7E;font-family:"µ¸¿ò";font-size:11px;letter-spacing:0pt;line-height:19px}
.font_gray3a a:visited{color:#7E7E7E;font-family:"µ¸¿ò";font-size:11px;letter-spacing:0pt;line-height:19px}
.font_gray4{color:#D2D2D2;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;line-height:19px}
.font_gray4 a:link{color:#D2D2D2;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;line-height:19px}
.font_gray4 a:hover{color:#D2D2D2;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;line-height:19px}
.font_gray4 a:visited{color:#D2D2D2;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;line-height:19px}
.font_gray5{color:#252C3A;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;line-height:19px;font-weight:bold;}
.font_gray5 a:link{color:#252C3A;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;line-height:19px;font-weight:bold;}
.font_gray5 a:hover{color:#252C3A;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;line-height:19px;font-weight:bold;}
.font_gray5 a:visited{color:#252C3A;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;line-height:19px;font-weight:bold;}
.font_gray6{color:#999999;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;line-height:19px;font-weight:bold;}
.font_gray6 a:link{color:#999999;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;line-height:19px;font-weight:bold;}
.font_gray6 a:hover{color:#999999;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;line-height:19px;font-weight:bold;}
.font_gray6 a:visited{color:#999999;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;line-height:19px;font-weight:bold;}
.font_gray6a{color:#999999;font-family:"µ¸¿ò";font-size:11px;letter-spacing:0pt;line-height:19px;}
.font_gray6a a:link{color:#999999;font-family:"µ¸¿ò";font-size:11px;letter-spacing:0pt;line-height:19px;}
.font_gray6a a:hover{color:#999999;font-family:"µ¸¿ò";font-size:11px;letter-spacing:0pt;line-height:19px;}
.font_gray6a a:visited{color:#999999;font-family:"µ¸¿ò";font-size:11px;letter-spacing:0pt;line-height:19px;}
.font_gray7{color:#949494;font-family:"µ¸¿ò";font-size:11px;line-height:19px;}
.font_gray7 a:link{color:#949494;font-family:"µ¸¿ò";font-size:11px;line-height:19px;}
.font_gray7 a:hover{color:#949494;font-family:"µ¸¿ò";font-size:11px;line-height:19px;}
.font_gray7 a:visited{color:#949494;font-family:"µ¸¿ò";font-size:11px;line-height:19px;}
.font_gray8{color:#A3A3A3;font-family:"µ¸¿ò";font-size:11px;line-height:19px;}
.font_black{color:#000000;font-family:"µ¸¿ò,±¼¸²";font-size:12px;letter-spacing:-0.5pt;font-weight:bold;}
.font_orange{color:#FF4C00;font-family:"µ¸¿ò,±¼¸²";font-size:12px;}
.font_orange a:link{color:#FF4C00;font-family:"µ¸¿ò,±¼¸²";font-size:12px;}
.font_orange a:hover{color:#FF4C00;font-family:"µ¸¿ò,±¼¸²";font-size:12px;}
.font_orange a:visited{color:#FF4C00;font-family:"µ¸¿ò,±¼¸²";font-size:12px;}
.font_orange1{color:#FF4C00;font-family:"µ¸¿ò,±¼¸²";font-size:12px;letter-spacing:0pt;}
.font_orange2{color:#FF4C00;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;}
.font_orange3_date{color:#544940;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;}
.font_orange3_text{color:#8A796A;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;}
.font_orange4{color:#FF6600;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;}
.font_orange5{color:#FF6600;font-family:"µ¸¿ò,±¼¸²";font-size:12px;letter-spacing:0pt;}
.font_orange6{color:#FF4C00;font-family:"µ¸¿ò";font-size:10px;letter-spacing:-0.5pt;}
.font_orange7{color:#E46000;font-family:"µ¸¿ò,±¼¸²";font-size:12px;letter-spacing:0pt;}
.font_orange8{color:#FE8E4B;font-family:"µ¸¿ò,±¼¸²";font-size:11px;font-weight:bold;}
.font_orange8 a:link{color:#FE8E4B;font-family:"µ¸¿ò,±¼¸²";font-size:11px;font-weight:bold;}
.font_orange8 a:hover{color:#FE8E4B;font-family:"µ¸¿ò,±¼¸²";font-size:11px;font-weight:bold;}
.font_orange8 a:visited{color:#FE8E4B;font-family:"µ¸¿ò,±¼¸²";font-size:11px;font-weight:bold;}
.font_blue1a{color:#0099BF;font-family:"µ¸¿ò,±¼¸²";font-size:12px;letter-spacing:-0.5pt;font-weight:bold;}
.font_blue{color:#0099BF;font-family:"µ¸¿ò,±¼¸²";font-size:12px;}
.font_blue a:link{color:#0099BF;font-family:"µ¸¿ò,±¼¸²";font-size:12px;}
.font_blue a:hover{color:#0099BF;font-family:"µ¸¿ò,±¼¸²";font-size:12px;}
.font_blue a:visited{color:#0099BF;font-family:"µ¸¿ò,±¼¸²";font-size:12px;}
.font_blue3{color:#6699CC;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;line-height:19px;font-weight:bold;}
.font_blue3 a:link{color:#6699CC;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;line-height:19px;font-weight:bold;}
.font_blue3 a:hover{color:#6699CC;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;line-height:19px;font-weight:bold;}
.font_blue3 a:visited{color:#6699CC;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;line-height:19px;font-weight:bold;}
.font_blue3a{color:#6699CC;font-family:"µ¸¿ò";font-size:11px;letter-spacing:0pt;line-height:19px;}
.font_blue3a a:link{color:#6699CC;font-family:"µ¸¿ò";font-size:11px;letter-spacing:0pt;line-height:19px;}
.font_blue3a a:hover{color:#6699CC;font-family:"µ¸¿ò";font-size:11px;letter-spacing:0pt;line-height:19px;}
.font_blue3a a:visited{color:#6699CC;font-family:"µ¸¿ò";font-size:11px;letter-spacing:0pt;line-height:19px;}
.font_blue_small{color:#0099BF;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;}
.font_blue_small a:link{color:#0099BF;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;}
.font_blue_small a:hover{color:#0099BF;font-family:"µ¸¿ò";font-size:11px;letter-spacing:-0.5pt;}
.font_blue_small a:visited{color:#0099BF;font-family:"µ¸¿ò";font-size:1px;letter-spacing:-0.5pt;}
.font_green{color:#39A200;font-family:"µ¸¿ò,±¼¸²";font-size:12px;}
.font_blue1{color:#0099BF;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:-0.5pt;line-height:14px;padding-top:3px}
.font_blue2{color:#0078FF;font-family:"µ¸¿ò,±¼¸²";font-size:12px;}
.font_green a:link{color:#39A200;font-family:"µ¸¿ò,±¼¸²";font-size:12px;}
.font_green a:hover{color:#39A200;font-family:"µ¸¿ò,±¼¸²";font-size:12px;}
.font_green a:visited{color:#39A200;font-family:"µ¸¿ò,±¼¸²";font-size:12px;}
.font_blue1{color:#2D75CA;font-family:"µ¸¿ò,±¼¸²";font-size:11px;}
.font_white{color:#ffffff;font-family:"µ¸¿ò,±¼¸²";font-size:12px;font-weight:bold;letter-spacing:-1px}
.font_white1{color:#ffffff;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:-1px}
.font_dotline{color:#000000;border-bottom-width:1; border-bottom-color:#FD4100; border-bottom-style:dotted;font-family:"µ¸¿ò,±¼¸²";font-size:12px;font-weight:bold;letter-spacing:-0.5pt;}

/*¸ÞÀÎ´Þ·Â*/
.calender{color:#8D695B;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;}
.calender_sun{color:#ED6800;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;}
.calender_sat{color:#7E7E7E;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;}
.calender_select{color:#ffffff;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;font-weight:bold;background-color:#FF975C;}
.calender_title{color:#FFFDC5;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;font-weight:bold}
.calender_title1{color:#FFFDC5;font-family:"µ¸¿ò,±¼¸²";font-size:15px;letter-spacing:0pt;font-weight:bold}

/*Ä¿¹Â´ÏÆ¼ ÀÏÁ¤°ü¸®*/
.calender{color:#8D695B;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;}
.calender_sun{color:#ED6800;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;}
.calender_sat{color:#7E7E7E;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;}
.c_calender_select{font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;font-weight:bold;background-color:#8DDAF4; padding-left:4pt;padding-top:3pt; padding-bottom:3pt;font-family:"±¼¸²,±¼¸²";line-height:18px;}
.c_calender_selecttext{color:#00639C;font-family:"µ¸¿ò,±¼¸²";font-size:12px;letter-spacing:0pt;font-weight:bold;line-height:18px;}
.c_calender_text{font-family:"µ¸¿ò,±¼¸²";font-size:12px;letter-spacing:0pt;line-height:18px;}

/*Ä¿¹Â´ÏÆ¼ ÀÏÁ¤°ü¸®(year)*/
.calender1{font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;}
.calender_sun1{color:#FF4C00;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;}
.calender_sun1 a:link{color:#FF4C00;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;}
.calender_sun1 a:hover{color:#FF4C00;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;}
.calender_sun1 a:visited{color:#FF4C00;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;}
.calender_sat1{color:#A6A6A6;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;}
.calender_sat1 a:link{color:#A6A6A6;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;}
.calender_sat1 a:hover{color:#A6A6A6;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;}
.calender_sat1 a:visited{color:#A6A6A6;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;}
.calender_select1{color:#ffffff;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;font-weight:bold;background-color:#0099CC;}
.calender_title1{color:#FFFDC5;font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:0pt;font-weight:bold}

/*¿©¹é*/
.space{padding:3pt;}
.space_top{padding-top:3pt;}
.table_space_left{padding:4pt;background-color:#F8F8F8;height:3px;}
.table_space_right{padding:4pt;BORDER-LEFT:#EDEDED 1pt solid; height:3px;}

/*ÀÌ¹ÌÁöÅÛÇÃ¸´Å×µÎ¸®*/
.imgline{border-width:1pt; border-color:rgb(196,196,196); border-style:solid;}
.imgline1{border-width:0pt; border-color:rgb(196,196,196); border-style:solid;}


/*ÆùÆ®»çÀÌÁî&¿©¹é*/
.font_size{font-family:"µ¸¿ò,±¼¸²";font-size:11px;}
.font_size1{font-family:"µ¸¿ò,±¼¸²";font-size:11px;letter-spacing:-0.5pt;}
.font_size2{font-family:"µ¸¿ò,±¼¸²";font-size:12px;letter-spacing:-0.5pt;}




.btn     { width: 23px; height: 23px; border: 1px solid buttonface; margin: 0; padding: 0; }
.btnOver { width: 23px; height: 23px; border: 1px outset; }
.btnDown { width: 23px; height: 23px; border: 1px inset; background-color: buttonhighlight; }
.btnNA   { width: 23px; height: 23px; border: 1px solid buttonface; filter: alpha(opacity=25); }
.cMenu     { background-color: threedface; color: menutext; cursor: Default; font-family: MS Sans Serif; font-size: 8pt; padding: 2 12 2 16; }
.cMenuOver { background-color: highlight; color: highlighttext; cursor: Default; font-family: MS Sans Serif; font-size: 8pt; padding: 2 12 2 16; }
.cMenuDivOuter { background-color: threedface; height: 9 }
.cMenuDivInner { margin: 0 4 0 4; border-width: 1; border-style: solid; border-color: threedshadow threedhighlight threedhighlight threedshadow; }

.cMenu2     { background-color: threedface; color: menutext; cursor: Default; font-family: MS Sans Serif; font-size: 8pt; }
.cMenuOver2 { background-color: highlight; color: highlighttext; cursor: Default; font-family: MS Sans Serif; font-size: 8pt; }

.shop_fontcolor{font-family:"µ¸¿ò,±¼¸²";letter-spacing:-0.5pt;color:#7CB8D5;font-size:8pt;line-height:17px;padding-left:5pt;}
.community_fontcolor{font-family:"µ¸¿ò,±¼¸²";letter-spacing:-0.5pt;color:#75C5CF;font-size:8pt;line-height:17px;padding-left:5pt;}
.design_fontcolor{font-family:"µ¸¿ò,±¼¸²";letter-spacing:-0.5pt;color:#75C1CF;font-size:8pt;line-height:17px;padding-left:5pt;}
.gong_fontcolor{font-family:"µ¸¿ò,±¼¸²";letter-spacing:-0.5pt;color:#B595CE;font-size:8pt;line-height:17px;padding-left:5pt;}
.market_fontcolor{font-family:"µ¸¿ò,±¼¸²";letter-spacing:-0.5pt;color:#7CB8D5;font-size:8pt;line-height:17px;padding-left:5pt;}
.member_fontcolor{font-family:"µ¸¿ò,±¼¸²";letter-spacing:-0.5pt;color:#68C0AE;font-size:8pt;line-height:17px;padding-left:5pt;}
.order_fontcolor{font-family:"µ¸¿ò,±¼¸²";letter-spacing:-0.5pt;color:#CA99BC;font-size:8pt;line-height:17px;padding-left:5pt;}
.product_fontcolor{font-family:"µ¸¿ò,±¼¸²";letter-spacing:-0.5pt;color:#C3B482;font-size:8pt;line-height:17px;padding-left:5pt;}

@media print {
	.page_screen { display:none; }
	.page_print {}
}
@media screen {
	.page_screen {}
	.page_print { display:none; }
}

/** °ü¸®ÀÚ Å×ÀÌºí ¹× ¼± ¶óÀÎ**/
.container_line{border-top:1px solid #BBBBBB;border-bottom:1px solid #BBBBBB;}
.inner_line{border-top:1px solid #DDDDDD;}
.inner_text{display:inline-block;margin-left:5px;}


/*  */
.listOrderEnd {width:96%; background-color:#d8d8d8; margin-top:25px;}
.listOrderEnd th {height:22px; background-color:#efefef; font-family:µ¸¿ò; font-size:11px;}
.listOrderEnd td {background-color:#ffffff; font-size:11px; text-align:center;}
.listOrderEnd select {font-size:11px; font-family:µ¸¿ò;}
#deliCompnay_change {font-size:11px; font-family:µ¸¿ò;}


/*Ãß°¡ by gura*/
.searchTab {border:1px solid #D4D4D4;background:#F5F5F9;height:80px;margin-top:10px;padding:10 10 10 10}
.searchTab1 {float:left;width:700px;}

.searchTab1_1 {float:left;width:80px;height:30px;font-weight:bold}
.searchTab1_2 {float:left;width:570px;height:30px;}

.searchTab1_3 {float:left;width:150px;height:30px;}

.searchTab1_4 {float:left;width:500px;height:30px;text-align:right;}
.searchTab1_4 input {height:24px;width:450px;line-height:24px;}

.searchTab2 {float:left;width:100px;height:60px;}
.searchBtn {width:100px;height:53px;margin:2px;padding:2px 10px 0px 10px;border:1px solid grey;background:#eeeeee;line-height:24px;cursor:pointer}


.tableTop {width:100%}
.tableTop1_1 {float:left;width:100%;height:25px;font-weight:bold}
.tableTop1_2 {float:left;width:100%;height:25px;padding-left:10px}
.tableTop1_3 {float:right;width:120px;height:25px;}
.tableTop1_3 select {width:120px;}

